*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  position: relative;
}
header{
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0,0.67);
  height: 20vh;
  text-align: center;
 align-content: center;
}
.user{
  height: 30vh;
}
form{
  margin-left: 35%;
  padding-top: 30px;
}
form input{
  margin-bottom: 3vh;
  border: none;
  border-radius: 2px;
  height: 3vh;
  box-shadow: 0 0 15px rgb(0, 0, 0,0.45);
}
form button{
  width: max-content;
  padding: 5px;
  margin-left: 23vw;
}
#f1{
  margin-left: 5vw;
}
#f2{
  margin-left: 2vw;
}
@media (max-width:600px) {
    .sidebar{
      display: none;
    }
    form{
      margin-left: 25%;
    }
    #f2{
      margin-left: 5vw;
      margin-top: 10px;
    }
    #f1{
       margin-top: 10px;
    }
    form button{
      margin-left: 25vw;
    }
}